# ============================================
# SISTEMA OPERATIVO
# ============================================
.DS_Store
Thumbs.db
Desktop.ini

# ============================================
# IDEs
# ============================================
.vscode/
.idea/

# ============================================
# ARCHIVOS COMPRIMIDOS
# ============================================
*.zip
*.rar
*.7z

# ============================================
# VARIABLES DE ENTORNO
# ============================================
Backend/.env
Frontend/.env
RAG/.env

# ============================================
# ANGULAR
# ============================================
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/coverage/

# ============================================
# PYTHON
# ============================================
Backend/.venv/
RAG/.venv/

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# ============================================
# CACHE Y TESTS
# ============================================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ============================================
# LOGS
# ============================================
*.log

# ============================================
# RAG
# No subir la base vectorial
# ============================================
RAG/chroma_db/

# Archivos propios del proyecto
Backend/estructura.txt
Backend/noses
Backend/app/model.txt

# ============================================
# JUPYTER
# ============================================
.ipynb_checkpoints/